{% load static %}
<!-- products/templates/products/base.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Jewelry Store</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">

</head>
<body>
    <header>
        <div class="logo-and -welcome">
            <a href="/">

            </a>   
        <h1>Welcome to Our Jewelry Store</h1>
    </header>
       
    <nav>
        <!-- Navigation Links -->
    </nav>
    <main>
        {% block content %}
        {% endblock %}
        <div class="images">
            <img src="{% static 'images/images.jpeg' %}" alt="first gold">
            <div class="caption">Item: firstgold </div>
            <div> Price = $100.00</div>
            <img src="{% static 'images/logo.jpg' %}" alt="logo gold">
    </main>
    <footer>
        <!-- Footer Content -->
    </footer>
</body>
</html>
